body {
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #858ae3;
    color: #2c0735;
    border-bottom: 4px solid #4e148c;
    border-right: 4px solid #4e148c;
        
    
}
h3:hover {
  background-color: blue;
}

